{% extends "base.twig" %}

{% block content %}
    <div class="products">
    {% for product in products %}
        <div class="card">
            <h3 class="name">{{ product.name }}</h3>
            <img src="{{ product.image_src }}" alt="">
            <div class="description">{{ product.description }}</div>
            <div class="price">price: {{ product.price }}</div>
            {% if role == "Customer" %}
                <a href="/cart/add/{{ product.name }}">Add to cart</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}