{% extends "../base.twig" %}
{% block content %}
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>amount</th>
        <th>unit price</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
    {% for product in cart %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.unitPrice }}</td>
            <td>{{ product.price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h3>total price: {{ price }}</h3>
{% endblock %}